

$arial: arial, helvetica, sans-serif;
$calibri: "Segoe UI", Calibri, Candara, Segoe, Optima, Arial, sans-serif;
$cambria: cambria, georgia, "bookman old style", "times new roman", serif;

$main-green: RGB(146, 208,80);
$RGB77: RGB(77,77,77);
$RGB63: RGB(63,63,63);
$RGB95: RGB(95,95,95);

a{
	text-decoration:none;
}

a:hover{
cursor:pointer;
text-decoration:underline;
}

h1{
	display:inline-block;
	padding-bottom:5px;
	padding-right:100px;
	margin-left:1em;
	margin-bottom:2em;
	border-bottom: 1px solid RGB(115,175,85);
	font-family:$calibri;
	font-size:80%;
	text-transform:uppercase;
	color:$main-green;
	font-weight:normal;


	span{
		font-size:150%;
		color:RGB(115,175,85);
	}
}

form
	{
		border:1px solid $RGB95;
		padding:1em 10%;

		input[type=text], input[type=email],input[type=tel], textarea, select{
		border:1px solid gray;
		width:99%;
		color:$RGB63;
		}
		select{
			width:150px;

		}


		textarea{
		height:120pt;
		border:1px solid gray;
		}

		button{
			display:block;
			text-align:center;
			margin:auto;
			background-color:RGB(178,178,178);
		}

	}

body{
	width:1000px;
	margin:auto;
	overflow-x:hidden;}

#header{
	width:100%;
	img{
	padding:1em;
	width:40%;
	float:right;
	}
}

#slider-chris{
	list-style-type: none;
	width: 100%;
}

#menubar{
	width:600%;
	margin-bottom: 4.5em;
	margin-left:-250%;
	background-color:$main-green;
	font-size:90%;
	font-family: $calibri;
	text-transform:uppercase;
	overflow:auto;

	ul{
		margin:0;
		padding:3px 0;
		list-style-type: none;
		text-align:center;
		vertical-align:center;
		margin:auto;
		width:1000px;

		li{
			padding:0px;
			margin-top:0px;
			display:list-item;
			float:left;

			&:first-child {
				padding:0px;
				float:left;
			}

			&:last-child {
				float:right;
				padding-right:5px;
				color:white;

				a, a:visited
				{
					color:white;
				}
			}

			a{
				padding:.1em 18px;
				text-decoration: none;
			}
			a:visited{
				color:black;
			}
			a:hover{
				text-decoration: underline;
				color:white;
				cursor:pointer;
			}
		}

	}
}

#lefthome{
	float:left;
	width:600px;
	img{
		padding:1.5em;
		padding-left:3em;
		width:120%;
	}

}

#leftcontent{
	font-family:$calibri;
	color:$RGB63;

	p,ol,ul{
		margin-left:auto;
		margin-right:auto;
		width:600px;
	}
	ol,ul{
		padding-left:4em;
	}
}

ul.member-list{
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	padding-left:4em;
	list-style-type:none;
	color:$main-green;
}

#leftform{
	margin-left:20px;
	padding-top:2em;
	width:400px;
	font-family:$calibri;
	font-size:10pt;
	color:$RGB95;

	h1{
		font-weight:normal;
		margin:.1em 0;
		font-size:24pt;
	}

	h2{
		font-family:$arial;
		margin:.1em 0;
		font-size:12pt;
		text-transform:uppercase;
	}

	p#bottomnote{

	text-align:center;

	font-size:10pt;
	font-family:cgothic;
	color:rgb(0,204,0);
	}

	a:visited{
		color:$RGB95;
	}
	a{
		color:$RGB95;
	}
	img{
		display:block;
		text-align:center;
		margin-left:auto; margin-right:auto;
	}
}
.opinionsent{
	padding-top: 1em; padding-bottom: 1em;
	text-align:center;
}

#learnmore{
	text-align:center;
	font-size:70%;
}

$instorewidth:800px;
$tableleft:300px;
#instoretable{
	margin-left:auto;
	margin-right:auto;
	width:$instorewidth;
	font-family:$calibri;

	.tableline{
		margin:0;
		border-bottom:1px solid orange;
		clear:both;
	}

	.tableline:last-child{
		border-bottom:none;
	}

	.tableleft{
		box-sizing:border-box;
		float:left;
		margin:0;
		padding:16px 8px 16px 1.5em;
		width:$tableleft;
		clear:both;
		color:$main-green;
	}
	.tableright{
		box-sizing:border-box;
		margin:0; margin-left:$tableleft;
		width:$instorewidth - $tableleft;
		padding:1em;
		border-left:1px solid orange;
		font-size:10pt;
	}
	ol.tableright{
	padding-left: 5em;
	}
}

.valuedesc{
	clear:left;
	background-color:grey;

	p{
	float:right;
	margin:0px;
	padding:.3em;
	width:12%;
	font-size:60%;
	text-align:center;
	}
}

.pollline{
	padding:.2em;
}

.pollquest{
	clear:left;
	float:left;
	width:55%;
	margin-bottom:10px;
	font-size:75%

}

.radiobutts{
	float:right;
	margin:0px;
	padding:.3em;
	width:12%;
	font-size:60%;
	text-align:center;
}

.submit{
	clear:both;
	text-align:center;
}

#bottomquote{
width:60%;
margin-left:20%;
padding-top:3em;
text-align:center;
font-family: $cambria;
font-style:italic;
color:grey;
}

#footerbar{
	width:600%;
	margin-left:-250%;
	overflow:auto;
	background-color:RGB(180,180,180);

}
#footer{
	width:1000px;
	margin-left:2500px;
	padding-bottom: 10px;
	font-size:70%;
}
#footerlinks
{
	position:relative;
	float:left;
	overflow:hidden;
	color:$RGB77;
	font-family:$calibri;
}

.footlinklist{
	float:left;
	margin:0px 20px;
	ul{
		margin:2px 5px;
		padding:0px;
		list-style-type: none;
		li{
			margin: 0px;
		}
	}
	h3{
		margin:1em 5px 2px 5px;
		font-size:100%;
		text-transform:uppercase;
	}
	a{
		color:$RGB77;
		text-decoration:none;
	}
	a:visited{
		color:$RGB77;
		text-decoration:none;
	}

}







#socialcopyright{
	margin-left:600px;
	padding-top:15px;
	font-size:65%;
	font-family:$calibri;
	img{
		width:25px;
		border-bottom: 1px solid blue;
	}
}



/* Contain floats. */
.cf:after {
  content: ' ';
  display: block;
  clear: both;
}

/* Contain floats *and margins*. */
.cfm:before,
.cfm:after {
  content: ' ';
  display: table;
}
.cfm:after {
  clear: both;
}

/*General  */
.clear{	clear:both}

/*************** Font Family ************/
.gill{	font-family:"gill sans mt", arial, sans-serif}
.candara{font-family:"candara","trebuchet ms", helvetica, sans-serif}
.verdana{font-family:verdana, geneva, sans-serif}
.clear{	clear:both}
.italic{font-style:italic;}
.center{text-align:center;}
.topofview{position:fixed; top:1em;}
.thin{font-weight:lighter;}
.maroon{color:maroon;}
.bold{font-weight:bolder;}
