img {
	-ms-interpolation-mode:bicubic;
	max-width:100%;
}

html
{
	background:white;
	font-size:90%;
}
body
{
	/*width:100%;*/
	margin:auto;
}
#urgentmessagebox
{
	/*display:none;*/
	width:1000px;
	margin:15px auto;
	background-color:rgb(255,178,65);
}
#urgentmessagebox p
{
	padding:20px 5px 5px 150px;
	margin:0;
	color:black;
	text-transform:uppercase;
	font-weight:bold;
	font-size:120%;
	line-height:150%;

}

#urgentmessagebox img
{
	padding:10px; 0;
	float:left;
}
.urgentpostdate
{
	text-transform:none;
	font-style:italic;
}

a:visited
{
	text-decoration:none;
}
a:link
{
	color:red;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
a img, img
{
	border-style:none;
}
sup {font-size: 60%; line-height: 80%; font-weight:bold; vertical-align:text-top;}
#bannerspace
{
	background: #850000;
	background: -webkit-linear-gradient(#5A0001, #BE0002); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5A0001, #BE0002); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5A0001, #BE0002); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5A0001, #BE0002); /* Standard */
}
#banner
{
	display:block;
	position:relative;
	height:143px;
	width:1000px;
	margin:auto;
	/*background-color:maroon;*/
}

#churchinbanner
{
	position:absolute;
	bottom:2px;
	left:0px;
	height:150px;
	width:auto;

}
#leftbannertext
{
	position:absolute;
	left:140px;
	padding:.2em;
	color:white;
	text-transform:uppercase;
	font-family:"book antiqua", "bookman old style", "times new roman";
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	font-weight:lighter;

}
.bannerline1
{
	font-size:20px;
}
.bannerline2
{
	font-size:40px;
}
.bannerline3
{
	font-size:20px;
}
.bannerline4
{
	font-size:16px;
	text-transform:none;
	font-style:italic;
}
#bannermenu
{
	position:absolute;
	right:5px;
	top:10px;
	color:red;
	font-family:"calibri";
}

#bannermenu a
{
	padding:5px;
	font-size:12px;
	color:red;
}

#bannermenu a:hover
{
	color:white;
	text-decoration:none;
}
/*********************************horizontalcssmenu************/

#donatebutton
{
	float:right;
	height:90%;
	padding:1px 0px;

}

#menuspace
{
font-size:20px;
font-family:"book antiqua";
border-bottom:1px solid gray;
}

#horizontalcssmenu
{
width:1000px;
height:30px;
margin:auto;
color:red;
}

#horizontalcssmenu a
{
	padding:0;
	margin:0;
	vertical-align:middle;
}

#horizontalcssmenu ul{
margin:0;
padding:0;
list-style-type: none;
text-align:center;
vertical-align:bottom;
}

#horizontalcssmenu ul li{
float:left;
display:list-item;
}

#horizontalcssmenu ul li:before{
color:grey;
font-weight:100;
content: " | ";
}

#horizontalcssmenu ul li:first-child:before{
content: none;
}

#horizontalcssmenu ul li:first-child a{
padding-left: 0px;
}


#horizontalcssmenu ul li a{
padding:.5em 18px;
margin-top:5px;
text-decoration: none;
color: red;
}

#horizontalcssmenu ul li a:hover{
color:black;
}

#formmessage
{
	border:1px solid black;
	font-size:20px;
	text-align:center;
	font-family: arial, helvetica, sans-serif;
	font-weight:600;
	background-color:grey;
}

#container
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	font-family:calibri, arial, helvetica, sans-serif;
	position:relative;
}

.homepagecontainer
{
	margin: 15px auto;
}
#homebiglinks
{
float:right;
padding-left:25px;
margin:0;
width:310px;
height:325px;
background-color:rgb(255,113,113);
color:white;
}

#homebiglinks a:link , #homebiglinks a:visited
{
color: white;
}

#homebiglinks ul li a:hover
{
	text-decoration:none;
	color:black;
}

#homebiglinks ul
{
list-style-type:none;
padding:0;
}

#homebiglinks ul li h2
{
    font-style:normal;
	line-height:2px;
	margin:.6em 0;
}

#homebiglinks ul li
{
    border-bottom:1px solid white;
	font-style:italic;
	padding:18px 0;
}

#homebiglinks ul li:last-child
{
    border-bottom:none;
}

#homebiglinks ul li:first-child
{
padding-top:3px;
}
#bottomthree
{
	position:relative;
	margin-top:15px;
	clear:both;
}
#bottomthree h2
{
	margin:.3em 0;
	text-transform:uppercase;
	font-size:120%;
}
.calendarbox
{
	float:left;
	width:29.5%;
	min-height:300px;
	padding:1%;
	margin-right:1%;
	background-image:url('images/gradient-pink-white.jpg');
	background-color:#ffaaaa;
	font-family:calibri, arial, helvetica, sans-serif;
}

.calendarbox ul
{
	list-style-type:none;
	padding:0;
}
.calendarbox h4
{
	margin-bottom:.5em;
	font-weight:20%;
	color:#A00000;
}

.calendarbox a
{
	color:black;
	text-decoration:underline;
}

#linkboxhome
{
	position:absolute;
	top:0px;
	left:330px;
	width:30%;
	bottom:0px;
	padding:1%;
	margin-right:1%;
	background-image:url('images/gradient-pink-white.jpg');
	background-color:#ffaaaa;
	font-family:calibri, arial, "lucida console", sans-serif;

}
#linkboxhome ul
{
	list-style:none;
	padding-left:0;

}
#linkboxhome ul li
{
}
#linkboxhome a
{
	color:#A00000;
}
.devotionalshome
{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	width:31.3%;
	padding:1%;
	border:1px solid black;
	overflow:auto;

}
.devotionalshome img
{
	float:left;
	width:40%;
	height:auto;
	margin:0 .5em;
}
.scripture
{
	font-style:italic;
}
.scripture a
{
	color:rgb(70,70,70);
}
.scripture a:hover
{
	text-decoration:none;
	color:black;
}


.label
{
	width:150px;
	float:left;
	font-size:80%;
}
#donatingto select
{
	left:150px;
	position:absolute;
}
.mandatoryfield
{
	font-size:small;
	color:red;
	font-style:italic;
}
.righttitle
{
	color:maroon;
	font-family:"book antiqua", "bookman old style", "times new roman";
	font-size:18pt;
	font-weight:normal;
	margin-bottom:0;
}
.bothsides
{
	float:left;
	width:100%;
	background-color:white;
	background-image:url(images/leftcol.jpg);
	background-repeat:repeat-y;
	padding:1px 1px 1em 1px;
	color:maroon;
	position:relative;
}
.leftside
{
	float:left;
	width:220px;
	margin-top:1em;
	padding:1em;
	/*clear:top;*/
	font-family:"candara","trebuchet ms",sans-serif;
	font-size:80%;
	color:maroon;
}
.leftside h3
{
	color:maroon;
	font-family:"book antiqua", "bookman old style", "times new roman";
	font-size:14pt;
	font-weight:normal;
	margin-bottom:0;
	text-align:left;
}

.leftside a
{
	color:green;
	text-decoration:underline;
	font-weight:bolder;
}
.leftside a:visited
{
	color:rgb(104,180,104);
	font-weight:bolder;

}
.leftside hr
{
	color:maroon;
	background-color:maroon;
	height:1pt;
	width:100%;
}
.leftside li
{
	padding:1em 0;
}

.linklist a
{
	color:maroon;
	text-decoration:none;
}
.linklist a:visited
{
	color:rgb(204,153,153);
	text-decoration:none;
}
.linklist a:hover
{
	text-decoration:underline;
}
.rightside
{
	margin-left:252px;
	color:rgb(70,70,70);
	padding:1em;
}
.rightside a
{
	color:green;
	text-decoration:underline;
	font-weight:bold;
}
.rightside a:visited
{
	color:rgb(104,180,104);
}
.rightside hr
{
	background-color:rgb(128,0,0);
	color:rgb(128,0,0);
	height:2px;
}
.rightside h1
{
	color:rgb(128,0,0);
	font-size:200%;
	font-weight:lighter;
	font-family:"book antiqua", "bookman old style", "times new roman", serif;
	margin-bottom:0;
}
.rightside h2
{
	color:maroon;
	font-weight:lighter;
	font-family:"bookman old style", "times new roman", serif;
}
.rightside select
{
	float:right;
}
.rightside li{}
.navchain
{
	color:maroon;
	margin-bottom:2em;
	font-family:"candara","trebuchet ms",sans-serif;
	font-weight:bold;
	font-size:smaller;
}
.navchain a, .navchain a:visited
{
	color:rgb(204,153,153);
	font-weight:normal;
	text-decoration:none;
}
.navchain a:hover
{
	text-decoration:underline;
}

.definitions
{
	font-size:70%;
}

.topsectitle
{
	color:rgb(204, 153, 153);
	font-family:"book antiqua", "bookman old style", "times new roman";
	font-size:14pt;
	font-weight:normal;
}
.greentitle
{
	color:rgb(51, 102, 51);
	font-family:"book antiqua", "bookman old style", "times new roman";
	font-size:170%;
	font-weight:normal;
	letter-spacing:px;
}
.subsubmenutitle
{
	color:maroon;
	font-family:"book antiqua", "bookman old style", "times new roman";
	font-size:14pt;
	font-weight:normal;
}
.proceed
{
	color:maroon;
	font-size:10pt;
	text-align:center;
	font-family:"arial", "times new roman";
}
.blurb
{
	font-family:"candara","trebuchet ms",sans-serif;
	font-size:10pt;
}
.blurb ul
{
	padding-top:0;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:0;
}
.blurb ul
{
	color:rgb(51,102,51);
}
.blurb ul li span
{
	color:rgb(70, 70, 70);
}
.blurb a, .blurb a:visited
{
	color:rgb(51, 102, 51);
	text-decoration:underline;
	font-weight:bold;
}

.line2
{
	color:rgb(204, 153, 153);
	background-color:rgb(204, 153, 153);
	height:1pt;
	width:100%;
}
.formline
{
	margin-left:25%;
	position:relative;
}
.error
{
	color:red;
}
.importantstar
{
	color:red;
	font-weight:bolder;
}
.submitbutton
{
	margin-left:35%;
}
/******Directions page*******/
fieldset
{
	font-size:100%;
	line-height:1;
	border:none;
	padding:0;
}
input.textarea
{
border:1px solid maroon;
}
legend
{
	margin:0;
}
label
{
	font-size:90%;
	margin-left:5em;
	margin-right:.6em;
	text-align:right;
	width:8em;
	float:left;
}
fieldset p
{
	font-weight:bold;
	margin-left:5em;
}

/******************************/
h4.smallschedhead
{
	margin-bottom:0px;
	padding-bottom:0px
}
h1.title
{
	padding:1em 0px 1em 1em;
	font-weight:normal;
	font-size:large;
	background:maroon;
	margin:0px;
	text-transform:capitalize;
	color:white;
	font-family:cambria,"bookman old style", "times new roman"
}
h1.title a:visited, h1.title a:link, h1.title a:hover
{
	color:white
}

/******newsletter****/
#currentissuelink
{
	margin:auto;
	display:block;
	width:230px;
	height:300px;
	background: url('images/newsletter-latest.jpg') 0px 0px;
	/*background:red;*/
}

#currentissuelink:hover
{
		background-position: 0px 300px;
}

#newsletterlist
{
	list-style-type:none;
}

#newsletterlist a
{
	color:red;
	font-weight:bolder;
}

#newsletterlist a:visited
{
	color:rgb(180,0,0);
	font-weight:bolder;
}

/******************* worshippage.php***************************/
/*spiritualpage*/
.source
{
	font-weight:bolder;
	text-align:right;
}
.verse-ddev
{
	color:rgb(70,70,70);
	font-size:80%;
	margin:0;
	padding:0;
}
.scripturereading
{
	font-size:150%;
	font-family:times new roman, serif;
}
.index
{
	font-style:normal;
	/*font-size:medium;*/
}
hr.beforetips
{
	margin:4em 0 1em 0;
	clear:both;
	color:white;
	background-color:white;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px dotted green;

}
.tipstitle
{
	color:green;
	font-size:150%;
	font-family:times new roman, serifs;
}
.tipslist li
{
	margin-bottom:1em;
}
h2.date
{
	font-size:160%;
	font-family:candara,sans-serif;
}
/******************* Begin submenu page and eventpage ***********************/
.submenucontent, .eventpagecontent
{
	padding:.5em .5em 2em .5em;
	background:white;
	color:rgb(70,70,70);
}
.submenucontent img
{
	float:left;
	margin:1em 1em 1em 0em;
	width:400px;
	height:300px;
	border:1px solid black;
}

.submenucontent h1
{
	color:rgb(128,0,0);
	font-size:200%;
	font-weight:lighter;
	font-family:"book antiqua", "bookman old style", "times new roman", serif;
	margin-bottom:0;
}

.submenucontent h2
{
	padding:0 .5em 0 .5em;
	clear:both;
	width:100%;
	font-size:300%;
}

.submenucontent hr
{
	background-color:rgb(128,0,0);
	color:rgb(128,0,0);
	height:2px;
}

.submenucontent p
{
	padding-right:1em;
}
.menuitem
{
	float:left;
	width:32%;
	padding:1em 0;
	font-size:smaller;
}
.menuitem h3
{
	font-weight:normal;
	margin-bottom:0;
	font-size:normal;
}
.menuitem a:link
{
	color:maroon;
}
.menuitem a:visited
{
	color:rgb(50,0,0);
}
.menuitem img
{
	float:left;
	margin:0 .5em 0 0;
	padding:0;
	width:100px;
	height:100px;
}
/***Ministries Page******************************/
.ministpic
{
	float:right;
	width:20%;
}
/*
/*begin footer area*/
#footerspace
{
	clear:both;
	background-image:url('images/bannergradient.jpg');
	background-color:#850000;
}
#footercontent
{
	width:1000px;
	margin:auto;
	padding:.3em 0;
	clear:both;
	line-height:170%;
	font-size:70%;
	color:white;
}

#footerleft
{
	float:left;
}

#footerleft a
{
	color:white;
	padding:0px 7px;
}

#footerleft a:first-child
{
	color:white;
	padding-left:0px;
}

#footerright
{
	float:right;
}

#linklist
{
	padding:0px;
	font-size:smaller;
	margin-left:-0.5em;
	text-transform:uppercase;
	line-height:300%;
}
#linklist li
{
	background-repeat:no-repeat
}
.bioimgcapbox
{
	float:left;
	margin:1em;
	width:25%;
	text-align:center;
}
.bioimgcapbox img
{
	width:100%;
	height:auto;
	padding-bottom:2em;
}

.bioname
{
	font-size:large;
	width:100%;
	color:maroon;
	font-family:"times new roman", serif;
}
.biotitle
{
	width:100%;
	color:maroon;
	font-style:italic;
	font-family:"times new roman", serif;
}
.videocaption
{
	font-size:large;
	width:100%;
	color:maroon;
	font-family:"times new roman", serif
}

}
.addbord
{
	border:4px solid rgb(153,0,0);
}
.videocapbox
{
	margin-top:2em;
}
.biotext
{
	margin:2.7em 2em 4em 220px;
	font-size:normal;
}
#contentbox
{
	background:white;
	padding:1px 1em 2em 1em;
}

#contactpicbox
{
	float:left;
	margin:2em;
	width:25%
}
#contactpic
{
	width:100%;
	height:auto
}
#contpiccapt
{
	margin-top:2em;
	text-align:center
}
#contactlist
{
	font-size:medium;
	padding-bottom:5em;
	margin:5em auto 0px 30%;
	width:60%;
	color:maroon;
	line-height:120%
}
.contactoption
{
	margin-top:1em
}
.contacttype
{
	float:left;
	width:37%;
	text-align:left
}
.contactinfo
{
	margin-left:40%
}
.blacklink
{
color:maroon;
}
.horizmenu
{
	/*background:maroon;*/
	text-transform:uppercase;
	color:white;
	font-family:"gill sans mt", arial
}
.horizmenu ul
{
	padding:0px;
	margin:0px;
	width:100%;
}
.horizmenu ul li a
{
	padding:0.5em;
	float:left;
	color:white;
	text-decoration:none
}
.horizmenu ul li a:hover
{
	background:rgb(230,204,204)
}
.horizmenu ul li
{
	display:inline;
	list-style-position:inside
}
#contentmin
{
	border:0px solid white;
	padding:1em;
	/*background:rgb(230,204,204);*/
}
#ministriestable
{
	border:1px solid maroon;
	margin-top:1em;
	font-size:100%;
	margin-left:auto;
	width:80%;
	margin-right:auto;
}
.tablerow
{
	border:1px solid maroon;
}
.namecell
{
	border:1px solid maroon;
	padding:0.2em 0.5em;
	margin:0.2em 0px;
	text-transform:uppercase;
	width:35%;
	font-family:"gill sans mt", arial
}
.descriptioncell
{
	border:1px solid maroon;
	padding:0.2em 0.5em;
	margin-left:40%;
}
#historytext h3
{
	text-align:center
}
#historytext p
{
	text-indent:3em
}
.histpictcapt
{
	text-align:center
}
#historytext img
{
	display:block;
	margin-left:auto;
	margin-right:auto
}
.histpictcapt p
{
	font-size:small;
	font-style:italic
}
.payneimage
{
	width:auto;
	height:400px
}
.choirimage
{
	width:80%;
	height:auto
}
.congregation
{
	width:80%;
	height:auto
}
.yearginpreach
{
	width:auto;
	height:400px
}
#original
{
	margin-top:3em;
	text-align:center
}
.gallerypiccont
{
	margin:5em 0em;
	text-align:center
}
#jointext
{
	float:left;
	width:60%;
	text-indent:2em;
}
#joinpic
{
	margin-top:3%;
	float:right;
	width:35%;
	margin-right:1em
}
.organpic
{
max-width:50%;
}
.errorlist
{
	color:red;
	font-family:"times new roman", serif;
	font-style:italic;
	padding:.5em 0;
}
form
{
	padding-top:.5em;
}
/* Temp definitions */
#instituteregistered
{
	border:1px solid maroon;
	padding:5px;
	width:70%;
	margin:auto;
}
#instituteregistered div
{
	text-align:center;
	font-size:150%;
}

#institutereg
{
	text-transform:uppercase;
}



/*************** Dfree Pages ************/
#dfreenavlist
{
	float:left;
	width:249px;
	margin-top:1em;
	/*clear:top;*/
	font-family:"candara","trebuchet ms",sans-serif;
	font-size:80%;
	color:maroon;
}


#dfreenavlist p
{
	margin:0;
	text-align:center;
	padding:5px;
	font-size:170%
}

#dfreenavlist a
{
	color:black;
	text-decoration:none;
	font-weight:bolder;
}
#dfreenavlist a:visited
{
	color:black;
}
#dfreenavlist li
{
	padding:1em 0;
}
#dfreerightside ul,#dfreerightside ol
{
	margin-top:0px;
}


.dfreehighlight
{
	background:green;
}
.dfreespacedlist li
{
	line-height:150%;
}
/*************** funeralpage.php *************/
#funeralpagecontent .information{
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
	width: 400px;
}

#funeralpagecontent h3 {
	margin-bottom: 0em;
}

#funeralpagecontent p {
	/* padding-top: .2em; */
	margin-top: 0em;
}

#funeralpagecontent figure{
	display: inline-block;
	padding:1em;
	text-align:center;
	vertical-align: top;
}

#funeralpagecontent img{
	border: none;
	height: 300px;
	width: auto;
	margin: 0px;
	padding-bottom:.2em;
}

#funeralpagecontent .ul-header{
	margin-bottom: 0;
}

#funeralpagecontent ul{
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}
/*************** Font Family ************/
.gill{	font-family:"gill sans mt", arial, sans-serif}
.cambria{font-family:cambria,"bookman old style", "times new roman", serif}
.candara{font-family:"candara","trebuchet ms", helvetica, sans-serif}
.arial{font-family:arial, helvetica, sans-serif}
.verdana{font-family:verdana, geneva, sans-serif}
.clear{	clear:both}
.green{color:green;}
.italic{font-style:italic;}
.center{text-align:center;}
.topofview{position:fixed; top:1em;}
.thin{font-weight:lighter; color:red;}
.maroon{color:maroon;}
.bold{font-weight:bolder;}


/******************* General classes ***************/
.centered
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.nomargin
{
	margin:0px;
}

